<!doctype html>
<html lang="en" class="h-100">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Hugo 0.104.2">
  <title>
    <%= title %>
  </title>
  <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/cover/">
  <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  <link rel='stylesheet' href='/stylesheets/cover.css' />

  <!-- Custom styles for this template -->
  <link href="cover.css" rel="stylesheet">
</head>

<body class="d-flex h-100 text-center text-bg-dark">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <h3 class="float-md-start mb-0"> <img style="border-radius: 20%; padding: 10px;" class="mb-2"
            src="/images/blood-logo.jpg" alt="" height="50"> BBMS</h3>


        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="/">Home</a>
          <!-- <a class="nav-link fw-bold py-1 px-0" href="/donors/register">Donate</a> -->
          <% if (session.donor) { %>
            <p class="py-1 px-2">Welcome, <strong>
                <%= session.donor.full_name.split(' ')[0] %></strong></p>
            <a class="nav-link fw-bold py-1 px-0" href="/donors/logout">Logout</a>
          <% } else { %>
            <a class="nav-link fw-bold py-1 px-0" href="/donors/login">Login</a>
            <a class="nav-link fw-bold py-1 px-0" href="/donors/register">Register</a>
          <% } %>
        </nav>
      </div>
    </header>

    <main class="px-3">
      <h1>Blood Bank Management System</h1>
      <p class="lead">This a blood bank management system used to help blood banks connect their systems to hospitals
        and donors to facilitate its operations.
      <p class="lead">
        <a href="/donation-requests/create" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Donate</a>
      </p>
    </main>

    <footer class="mt-auto text-white-50">
      <!-- <p>
        Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a
          href="https://twitter.com/mdo" class="text-white">@mdo</a>.
      </p> -->
    </footer>
  </div>



</body>

</html>